@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(30px);
  }
}

.gridItem {
  opacity: 0; /* Initially hidden */
  animation: fadeIn 0.5s ease-in-out forwards;
}

/* Glassmorphism effect */
.glass, .gridItem {
  background: rgba(255, 255, 255, 0.15) !important;
  border-radius: 20px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(8px) !important;
  -webkit-backdrop-filter: blur(8px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* Base styles */
.container {
  padding: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px !important; /* Control the max width of the gallery */
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 200px;
  max-height: fit-content;
}

.gridContainer {
  display: flex;
  flex-direction: column; /* Stack the images vertically */
  gap: 50px; /* Space between images */
  margin-top: 20px;
  width: 50%;
  border-radius: 30px;
}

.gridItem img {
  width: 100%; /* Make image fill the container's width */
  height: auto;
  object-fit: fill;
  border-radius: 30px;

}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 5% !important;
    gap: 20px !important;
    margin-bottom: 50px;
  }
  .gridContainer {
    gap: 20px !important;
  }
  .gridItem img {
    border-radius: 10px;
    border-radius: 15px !important;
  }
}
